.blur-blob {
  filter: blur(70px);
}
.loader-ring {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-left-color: #00d2ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.8s linear infinite;
}
html:not(.dark) .loader-ring {
  border-color: rgba(0, 0, 0, 0.1);
  border-left-color: #00d2ff;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body,
div,
input,
label,
h2,
a {
  transition-property:
    color, background-color, border-color, opacity, transform, height;
  transition-duration: 300ms;
}
